.data-table {
  border-collapse: separate;
  border: solid #ccc 1px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  font-size: .85714em;
  width: 100%;
}
.data-table td,
.data-table th {
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}
.data-table th {
  /*background: linear-gradient(to bottom, #FFFFFF, #F9F9F9, #F4F4F4);*/
  background: linear-gradient(to bottom, #FFFFFF, #CCFFFF, #CCFFFA);
  border-top: none;
}
.data-table td:first-child,
.bordered th:first-child {
  border-left: none;
}
.data-table th:first-child {
  -moz-border-radius: 6px 0 0 0;
  -webkit-border-radius: 6px 0 0 0;
  border-radius: 6px 0 0 0;
  border-left: none;
}
.data-table th:last-child {
  -moz-border-radius: 0 6px 0 0;
  -webkit-border-radius: 0 6px 0 0;
  border-radius: 0 6px 0 0;
}
.data-table th:only-child {
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  border-radius: 6px 6px 0 0;
}
.data-table tr:last-child td:first-child {
  -moz-border-radius: 0 0 0 6px;
  -webkit-border-radius: 0 0 0 6px;
  border-radius: 0 0 0 6px;
}
.data-table tr:last-child td:last-child {
  -moz-border-radius: 0 0 6px 0;
  -webkit-border-radius: 0 0 6px 0;
  border-radius: 0 0 6px 0;
}